<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="technocrats.com.gymaholic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diet"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".chest"
            android:screenOrientation="portrait"/>
        <activity android:name=".shoulder"
            android:screenOrientation="portrait"/>
        <activity android:name=".bicep" android:screenOrientation="portrait"/>
        <activity android:name=".back" android:screenOrientation="portrait"/>
        <activity android:name=".tricep" android:screenOrientation="portrait"/>
        <activity android:name=".quad" android:screenOrientation="portrait"/>
        <activity
            android:name=".abs"
            android:screenOrientation="portrait" />
        <activity android:name=".ppp"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page5"
            android:screenOrientation="portrait" />
        <activity android:name=".loc" android:screenOrientation="portrait"/>
        <activity android:name=".page6" android:screenOrientation="portrait"/>
        <activity android:name=".page7" android:screenOrientation="portrait"/>
        <activity android:name=".page8" android:screenOrientation="portrait"/>
        <activity android:name=".page9" android:screenOrientation="portrait"/>
        <activity android:name=".page10" android:screenOrientation="portrait"/>
        <activity android:name=".page11" android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity2"
            android:screenOrientation="portrait" />

        <receiver android:name=".AlarmReceiver" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".page12" android:screenOrientation="portrait"/>
        <activity android:name=".page13" android:screenOrientation="portrait"/>
        <activity android:name=".quote" android:screenOrientation="portrait"/>
        <activity android:name=".server" android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>